.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
  height: 46px;
  width: 40%;
  background-color: black;
  color: white;
  min-width: 100px;
  max-width: 350px;
  overflow: hidden;
  &__item {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
  }
  &__link {
    font-weight: bold;
    text-transform: lowercase;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__nav {
    text-decoration: none;
    height: 100%;
    &_active {
      color: red;
    }
  }
  &__blink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    background-color: gold;
  }
  &__icon {
    box-sizing: border-box;
    padding-right: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  &__line {
    width: 25px;
    height: 1px;
    background-color: white;
    border-radius: 1px;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__logo {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  &__logo-icon {
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 10px #0f0;

  }
  animation: animate 5s linear infinite;
}


@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
