.song {
  cursor: pointer;
  position: relative;
  color: whitesmoke;
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px 6px 0;
  border-bottom: 1px solid slategrey;
  &__name {
    margin: 0;
    font-weight: 500;
    margin-bottom: 4px;
    padding-left: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__duration {
    min-width: 30px;
    font-size: 12px;
  }
  &:hover {
    background-color: black;
  }
  &_active {
    background-color: black;
  }
}
